body{
    text-align: center;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: 100;
    margin: 0 5%;
    min-width:1000px;
}

a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.fixed{
    position: fixed;
}

.black-border{
    border-style: solid;
    border-color:black;
    border-width: 1px;
}

.grey-bottom-border{
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-bottom-width: 1px;
}

#header-row{
    display: flex;
    position: fixed;
    font-size: x-large;
    width: 90%;
    justify-content: space-between;
    background:white;
    z-index:20;
}

#left-sidebar{
    margin-top:50px;
    text-align: left;
    border-style:solid;
    border-color:black;
    background:white;
}

#header-support{
    display: flex;
}

.right-hdr-btns{
    padding: 0px 20px;
}

#ee-content{
    margin: 10%;
}

#ee-content-description{
    text-align: left;
}

#contact-row-content{
    padding: 5% 20%;
    border-top-style: solid;
    border-top-color:grey;
    border-top-width: 1px;
}