<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ static }}landing_page/css/reset.css">
    <script src="{{ static }}landing_page/js/d3.v3.min.js"></script>
    <link rel="stylesheet" href="{{ static }}landing_page/css/bootstrap-min.css">
    <script src="{{ static }}landing_page/js/jquery.min.js"></script>
    <script src="{{ static }}landing_page/js/bootstrap.min.js"></script>
    <!-- Add dynamic updates to bode Plots -->
    {% block dynamicPlots %}
    {% endblock %}
    
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{{ static }}landing_page/css/styles.css">
    <link rel="stylesheet" href="{{ static }}landing_page/css/bode-styles.css">
    <link rel="stylesheet" href="{{ static }}landing_page/css/bootstrap-social.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>

    <div class="fixed-parent min-width">
        <div id="header-row" class="row black-bottom-border margin-five flex-space-between">
            {% block header %}
            {% endblock %}
        </div>
    </div>

    <div>
        <div class="row margin-five min-width">
            <div id="home-row" class="row grey-bottom-border">
                {% block home %}
                {% endblock %}
            </div>
            
            <div id="content-row" class="row grey-bottom-border">
                {% block content %}
                {% endblock %}
            </div>
                
            <div id="example-design" class="row">
                {% block example_design %}
                {% endblock %}
            </div>
        
            <div id="contact-row" class="row">
                {% block contact_row %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<footer>
  <!-- Add ability to include javascript plots into website -->
  <script src="{{ static }}landing_page/js/plotBode.js" type="text/javascript"></script>
  <script src="{{ static }}landing_page/js/ajaxSupport.js" type="text/javascript"></script>
</footer>
</html>