<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{header_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block bodeScripts %}
        {% endblock %}
        <!-- Add dynamic updates to bode Plots -->
        {% block dynamicPlots %}
        {% endblock %}
        
        <!-- Add additional CSS in static file -->
        <link rel="stylesheet" href="{{ static }}design_center/css/reset.css">
        <link rel="stylesheet" href="{{ static }}design_center/css/bootstrap-min.css">
        <link rel="stylesheet" href="{{ static }}design_center/css/bode-styles.css">
        <link rel="stylesheet" href="{{ static }}design_center/css/bootstrap-social.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block pageStyles %}
        {% endblock %}
    </head>

    <body>

        <div id="container-custom" class="container-fluid">

            <div class="fixed-parent white-background margin-five min-width">
                <div id="header-row" class="row grey-bottom-border flex-space-between">
                    {% include "header.html" %}
                </div>
            </div>

            <div id="content" class="row flex margin-five">
                <div id="left-sidebar">
                    {% include "leftSidebar.html" %}
                </div>
      
                <div id="ee-content" class="row col-md-10">
                    {% block ee_content %}
                    {% endblock %}
                </div>
            </div>

            <div id="contact-row" class="row margin-five">
                {% include "contactRow.html" %}
            </div>
        </div>
    </body>
    <footer>
    </footer>
    <!-- Add ability to include javascript plots into website -->
    <script src="{{ static }}design_center/js/plotBode.js" type="text/javascript"></script>
    <script src="{{ static }}design_center/js/ajaxSupport.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    {% block ajax_support %}
    {% endblock %}
</html>