body{
    text-align: center;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: 100;
    margin: 0%;
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.flex{
    display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between
}

.justify-center{
    justify-content: center;
}

.margin-five{
    margin-left:5%;
    margin-right:5%;
}

.margin-top{
    margin-top:2%;
}

.width{
    min-width: 90%;
}

.min-width{
    min-width: 1000px;
}

.fixed-parent{
    background-color: white;
    position: fixed;
    width: 100%
}

.black-border{
    border-style: solid;
    border-color:black;
    border-width: 1px;
}

.black-bottom-border{
    border-bottom-style: solid;
    border-color:black;
    border-bottom-width: 1px;
}

.grey-bottom-border{
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-bottom-width: 1px;
}

.right-hdr-btns{
    padding: 0px 20px;
}

.card-deck{
    display: flex;
    justify-content: center;
}

.card{
    border-style: inset;
    border-color:black;
    border-width: 1px;
    margin:0px 20px;
    text-align: left;
}


#header-row{
    font-size: x-large;
    z-index:20;
}

#header-support{
    display: flex;
    margin-left: auto;
}

#home-row{
    display: flex;
    text-align: left;
}

#home-row-content{
    margin: 10%;
}

#home-row-content h2{
    font-size: 16pt;
}

#home-row-content h1{
    font-size: 32pt;
}

#content-row{
    padding: 5% 20%;
}

#content-row-header{
    margin:0px 0px 50px 0px;
}

#content-row-content{
    text-align: left;
}

#example-design-content{
    padding: 5% 20%;
}

#example-parameters{
    display: flex;
    text-align: left;
    justify-content: space-around;
}

#contact-row-content{
    padding: 5% 20%;
    border-top-style: solid;
    border-top-color:grey;
    border-top-width: 1px;
}